<!DOCTYPE html>
<html ng-app="wedding">
<head>
<title></title>
<meta charset="utf-8" />
<link rel="stylesheet"  type="text/css" href="style/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="style/wedding.css" />



</head>
<body>
<div class="all">
<section class="pull-left flowers">
	</section>
		<section class="pull-right flowers">


	</section>
<div class="wrapper">
	<nav ng-controller="navController as navItem">
	<div id="logo"><div id="ringcenter"></div><img src="images/weddinglogo.jpg" /></div>
		<ul class="navul">
		<li ng-repeat="allNav in navItem.navItems" class="navspace"><a href="{{allNav.url}}">{{allNav.text}}</a></li>
		</ul>
	</nav>
	

	<section ng-controller="mainController as mainItem">
		<article ng-repeat="allText in mainItem.contentItems" class="maincontent">
		<hr />
		<h1  id="{{allText.idName}}">{{allText.articleTitle}}</h1>
		<hr />
		<p ng-bind-html="allText.text | unsafe"></p>
		</article>
	</section>
	
	<footer ng-controller="footerController as footerItem">
	<ul>
	<li ng-repeat="allSocial in footerItem.footerItems"><a href="http://{{allSocial.socialMedia}}/{{allSocial.linkedTo}}">{{allSocial.linkedTo}}</a></li>
	</footer>
</div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.3.9/angular.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.3.9/angular-sanitize.min.js"></script>
<script type="text/javascript" src="js/wedController.js" ></script>
<script type="text/javascript" src="js/getHeight.js" ></script>
</body>
</html>