@media screen and (min-width:1220px){
nav li{
	display: inline;

}
nav li{
	padding: 0 0;
}
footer li{
	display: inline;
}

footer li
{
	padding: 0 35px;
}
nav{
	position: absolute;
	left:0em;
	right: 0em;
}
#logo
{
position:relative;
left:34.286em;
 border-radius:50% 50% 50% 50%;
border:6px solid pink;
width:230px;
height:231px;	
}
#ringcenter
{
position:absolute;
left:-1px;
top:-1px;
 border-radius:50% 50% 50% 50%;
border:17px solid gold;
 line-height: 200px;
width:200px;
height:200px;	
}
#logo img
{
position:absolute;
left:4%;
top:4%;
border-radius:50% 50% 50% 50%;
border:6px solid pink;
 line-height: 200px;
width:200px;
height:200px;	
}
.wrapper{
	width:960px;
	margin:0 auto;
}
.navul
{
position: absolute;
left: 22.857em;
right: 22.857em;
top: 0em;
margin: 0 0;
}

.navspace
{
font-size:2em;
}
.navspace:nth-child(1)
{
	position:absolute;
	left: 13.214em;
	top: 0.357em;
	
}

.navspace:nth-child(2)
{
	position:absolute;
	left:14.107em;
	top: 2.143em;
}
.navspace:nth-child(3)
{
	position:absolute;
	left:14.286em;
	top:3.929em;
}
.navspace:nth-child(4)
{
	position:absolute;
	left:14.107em;
	top: 5.714em;
}
.navspace:nth-child(5)
{
	position:absolute;
	left:13.036em;
	top: 7.500em;
}
.maincontent
{
position: relative;
top: 250px;
width:100%;
}
footer
{
position: relative;
top: 300px;
}
.flowers
{
width:20%;
background-image:url("../images/lilies.jpg");
background-repeat: repeat-y;
}
}

@media screen{
li a{
	text-decoration: none;
}
li{
	list-style: none;
}
}

@media screen and (max-width:1219px){
.navspace
{
font-size:1em;
}
}